<!DOCTYPE>
<html>
<head>
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"></link>
</head>
<body>
    <div align="center">
    <div align="center" class="border">
        <div align="center" class="header">
            <h1 class="word">Welcome</h1>
        </div>
        <h1 class="bottom">hi {{name}}!!!</h1></br></br>
        {{msg}}!!</br></br>
        you are welcome</br></br>
        Happy to have you here...</br></br>
       <a href="/logout" class="btn">Log Out</Out>ut</a></br></br>
    </div>
    </div>
</body>
</html>